<table>
    <tr>
        <td>Name</td>
        <td><input type="text" placeholder="Enter name" ng-model="foundItem2.name"></td>
    </tr>
    <tr>
        <td>Value</td>
        <td><input type="number" placeholder="Enter price" ng-model="foundItem2.value" id="value"></td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td><input type="number" placeholder="Enter quantity" ng-model="foundItem2.qty" id="quantity"></td>
    </tr>
    <tr>
        <td>
            <button type="submit" ng-click="addEditItem2(foundItem2)"><a href="#/allItems2">Enter</a></button>
        </td>
    </tr>
</table>
