<div row>
    <div class="col-md-9">
        <h3>Basket TWO</h3>
        <table class="table">
            <thead>
            <th>Index</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
            </thead>
            <tbody>
            <tr ng-repeat="n in itemList2()" ng-model="item2">
                <td><a href="#/item2/{{n.name}}">{{ getSerialValueA(n.name)}}</a></td>
                <td>{{n.name}}</td>

                <td ng-model="number">{{n.value}}</td>
                <td ng-model="qty">{{n.qty}}</td>
                <td ng-model="number">{{ getSubTotalA(getSerialValueA(n.name))}}</td>
                <td><a href="#/allItems2" ng-click="delItems2(n.name)">Delete</a></td>
                <td><a href="#/addItem2/{{n.name}}">Edit</a></td>
            </tr>
            <tr>
                <td>Total value of items:   {{ getTotalA() }}</td>
            </tr>
            <tr>
                <td>
                    <button><a href="#/printViewBasTwo">Print Basket</a></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>